
body {
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

.bg-black {
    background-color: black;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded-circle {
    border-radius: 50%;
}
.navbar-custom {
    padding-top: 20px;
}